* {
    margin: 0;
    padding: 0;
    word-spacing: 3px;
    color: #343434;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}


/* HEADER */
.container {
    background-color: #16165F;
    padding: 30px 10px;
    margin-bottom: 20px;
}

.title {
    color: white;
}

span {
    color: rgb(247, 166, 166);
}

/* NAV */

nav {
    background-color: #16165F;
    padding: 20px 0px;
}

li {
    margin: 3px 30px 3px 0px;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 80%;
}

/* MAIN */

.content {
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadada;
}

.content img {
    width: 300px;
    margin: 10px 0 0px;
}

.content h1 {
    color: #343434;
    font-size: 20px;
    margin: 30px 0 10px 0;
}

.content p {
    margin: 10px 0 30px;
}

.link-materia {
    color: #5551FF;
    font-size: 12px;
    text-decoration: none;
}

.separate {
    margin-left: 20px;
}

/* FOOTER */

.footer {
    margin-top: 45px;
    background-color: #16165F;
    padding: 30px 10px;
}

#text-footer {
    color: white;
    font-weight: normal;
}